html {
  background: #ebeff1;
  padding: 20px;
}

body {
  background: #fff;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-width: 0 2px 2px 0;
  border-color: #c7d4da;
  border-style: solid;
  color: #2A2A2A;
}

h1 {color:black; 
    text-align:center
    padding:50px;}

.wrap {
    height: auto;
    margin: 0 auto -110px; /* footer height + space */
    min-height: 100%;
    padding: 0 0 110px; /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}

/* Footer */

footer {
  padding: 20px;
  border-top: 1px black;
  height: 90px;  /* footer height */
  padding-top: 20px;
  display: block;
  margin-top: 20px; /* space between content and footer */
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: #D0DAEE;
    
}
